main {
  transition: all 0.3s;
}

.navbar-pc {
  width: 120px;
  background-color: #222;
  height: 100%;
  position: fixed;
  color: #fff;
}

.navbar-container-pc {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-item-pc {
  padding: 12px 24px;
}

.nav-item-pc > p {
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
  transition: all 0.2s;
}

.nav-home {
  background-color: #000;
}

.nav-item-pc:hover {
  background-color: #000;
}

.navbar-container-mb {
  opacity: 0.6;
}

.navbar-mb {
  position: fixed;
  width: 100%;
}

.navbar-nav-mb {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-item-mb {
  font-size: 12px;
  padding: 8px 16px;
  width: 25%;
  text-align: center;
}

.navbar-item-mb:hover {
  color: #000;
  background-color: #f1f1f1;
}

.Header {
  padding: 32px 16px;
}

.header-container {
  text-align: center;
  max-width: 998px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
}

.header-img {
  overflow: clip;
  aspect-ratio: 992/1108;
}

.about-skill {
  letter-spacing: 4px;
}

.white-background {
  width: 100%;
  height: 28px;
  background-color: #fff;
}

.grey-background {
  height: 28px;
  background-color: #616161;
}

.photography {
  width: 95%;
}

.webdesign {
  width: 85%;
}

.photoshop {
  width: 80%;
}

.about-resume-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px 0 16px;
  padding: 16px 0;
  color: #000;
  background-color: #f1f1f1;
}

.resume-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.resume-number {
  font-size: 24px;
}

.download-resume-btn {
 
  margin: 16px 0;
}

.price-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price-item-heading {
  background-color: #616161;
  padding: 32px 16px;
  font-size: 24px;
}

.price-items {
  padding: 0 8px;
  text-align: center;
  transition: all 0.3s;
  opacity: 0.6;
}
.price-items:hover {
  opacity: 1;
}

.price-item {
  padding: 16px;
  background-color: #fff;
  color: #000;
}

.price-btn:hover {
  background-color: #000;
  color: #fff;
}

.price-item-price h2{
  color: #000;
}
.reputation-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 27px;
}



.reputation-img {
  width: 80px;
  margin-right: 16px;
  border-radius: 50%;
  height: 80px;
}

.my-photo-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.photo-grid-item{
  padding: 0 8px;
}
.my-photo-item{
  margin-bottom: 12px;
  width: 100%;
  
}

.icon-align{

  width: 46.28px;
  text-align: center;
}

.text-item{
  display: flex;
}


.contact-input{
  display: block;
  width: 100%;
  height: 56px;
  margin-bottom: 15px;
  padding: 16px 8px;
  font: inherit;
}

.contact-text{
  margin-bottom: 54px;
  color: #757575;
}



.contact-btn{
  text-transform: uppercase;
}

/* footer */
.footer-container a{
  text-decoration: underline;
  display: inline-block;
  text-align: center;
  margin-left: auto;

}



.icon-footer{
  font-size: 26px !important;
  opacity: 0.8;
  padding-right: 2px;
  
}