@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width:600px){
    .navbar-pc{
        display: none;
    }
    main{
        margin-left: 0;
    }

    .header-bm{
        display: none;
    }

    .container{
       margin: 0;
    }
    

    .price-container,
    .my-photo-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-resume-container {display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    
}




@media (min-width: 601px){
    .navbar-mb{
        display: none;

    }
}